.advantages {
  margin-bottom: 100px;

  &__holder {
    display: flex;
    columns: 3;
    gap: 24px;
  }
}

.advantages-item {
  border-radius: 12px;
  border: 1px solid #E8E8E8;
  padding: 20px 30px 24px 30px;

  &__name {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__ico {
    width: 52px;
    height: 52px;
    background-color: $color-green;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}