<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="Author" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	<meta name="theme-color" content="#ffffff">
  {% block meta %}{% endblock %}
  <title>{% block title %}Еколом{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"/>        
	<script>
		document.documentElement.classList.remove('no-js');
		document.documentElement.classList.add('js');

		if (document.documentElement.style.setProperty) {
			document.documentElement.style.setProperty('--viewport-height', window.innerHeight + 'px');
			document.documentElement.style.setProperty('--viewport-height-actual', window.innerHeight + 'px');
		}
	</script>
	<link rel="stylesheet" href="assets/stylesheets/global.min.css">
  {% block stylesheets %}{% endblock %}
</head>
<body>
	{% set navigation = [            
			{
					'title': 'Лотерея',
					'pageId': '',
					'url': '#',
			},
			{
					'title': 'Металлолом',
					'pageId': '',
					'url': '#',
			},
			{
					'title': 'Услуги',
					'pageId': '',
					'url': '#',
					'children': [
							{
								'title': 'Прием чёрного лома',
								'url': '#',
							},
							{
								'title': 'Прием цветного лома',
								'url': '#',
							},
							{
								'title': 'Демонтаж лома',
								'url': '#',
							},
							{
								'title': 'Вывоз лома',
								'url': '#',
							},
							{
								'title': 'Химический анализ металлов',
								'url': '#',
							},
							{
								'title': 'Приём и отгрузка жд контейнеров',
								'url': '#',
							},
					]
			},
			{
					'title': 'Цены',
					'pageId': '',
					'url': '#',
			},
      {
					'title': 'Пункты приёма',
					'pageId': '',
					'url': '#',
			},
      {
					'title': 'О компании',
					'pageId': '',
					'url': '#',
			},
      {
					'title': 'Контакты',
					'pageId': '',
					'url': '#',
			},
		] %}	
		
		<div class="page-content">
      {% block header %}
        {% include "../partials/header.twig" with { 'navigation': navigation } %}
      {% endblock %}
      <main>
        {% block body %}{% endblock %}
      </main>
      {% block footer %}  
      {% endblock %}
		</div>
	
	<script src="assets/javascripts/main.js"></script>
	{% block javascripts %} {% endblock %}
</body>
</html>
